ion-content{
    --padding-top: 8vh;
    --padding-start: 5vw;
    --padding-end: 5vw;
    --background: rgb(1, 16, 58);
    color: white;
}
.footer{
    background-color: rgb(1, 16, 58);
    color: white;
    padding-left: 2vw;
}
ion-item{
    border: 2px solid #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 16, 58);
}

.margenVertical{
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.margenArriba{
    margin-top: 6vh;
}

.margenChicoArriba{
    margin-top: 4vh;
}
a{
    color: white;
    text-decoration: none;
}