ion-content{
    --background: url('../../../assets/imagenes/4B.jpg') 0 0/100% 100% no-repeat;
    --padding-top: 2vh;
    --padding-start: 2vw;
    --padding-end: 2vw;
}

.items{
    margin-bottom: 1vh;
}

.mensajes, .mjeEnviar{
    background-color: white;
}

.informacion{
    background: none;
    color: white;
}

.txtMje{
    border: none;
    height: 100%;
    width: 100%;
}

.contenedorMsj{
    position: fixed;
    bottom: 2vh;
    background-color: white;
    width: 96vw;
}

.btnEnviar{
    display: flex;
    justify-content: flex-end;    
}

ion-header{
    margin-right: 1vw;
    // margin-left: 1vw;
}