ion-content{
    --padding-top: 8vh;
    --padding-start: 5vw;
    --padding-end: 5vw;
}

.margenVertical{
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.margenArriba{
    margin-top: 7vh;
}

.margenChicoArriba{
    margin-top: 4vh;
}
